*{
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #EBEDF0;
    padding-left: 10px;
    padding-right: 10px;

}

nav{
    text-align: center;
    padding-top: 10px;
    background-color: #B2C9D9; 
    height: 40px;
}

nav a{
    padding: 35px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover{
    color: #E58C70;
}

.current-page:hover{
	color: #7DA3C5;
}

.logo-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20vw;
    width: auto;
}

.current-page {
    padding-top: 10px;
    height: 20px;
    background-color: #EBEDF0;
    color: #E58C70;
}

.language-title, .topic-title {
    color: #E58C70;
}

.language-titleA, .language-titleB {
    text-align: center;
    color: #E58C70;
}

.div-title {
    color: #7DA3C5;
    position: relative;
    top: -25px;
}

.info-text {
    text-align: justify;
    font-size: 18px;
}

.topics-title, .projects-title {
    padding-left: 40px;
    color: #7DA3C5;
}

.topics-title1, .projects-title1 {
    padding-left: 40px;
    padding-top: 30px;
    color: #7DA3C5;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.grid-container-topics, .grid-container-projects, .grid-container-active {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.grid-container-projects {
    grid-template-columns: 1fr 1fr;
}

.grid-container-active {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    text-align: left;
    max-height: max-content;
    width: auto;
}

.editor, .server {
    background-color: #242933;
    color: #7DA3C5;
    padding: 20px;
    height: 200px;
}

.server {
    background-color: rgba(255, 255, 255, 0.8); 
}

.continue-button, .select-button {
    text-align: right;
    background-color: #E58C70;
    /* position: relative;
    top: 111px;
    height: 35px; */
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.type {
    text-align: right;
    background-color: #4D5462;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.learn-button {
    text-align: right;
    padding-right: 10px;
    padding-bottom: 20px;
}

.level {
    position: relative;
    bottom: 16px;
    float: left;
    padding-left: 10px;
    text-decoration: none;
    color: #242933;
    font-size: 18px;
}

.continue-button a, .select-button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.learn-button a {
    text-decoration: none;
    color: #E58C70;
}

.learn-button a:hover {
    color: #242933;
}

.continue-button a:hover, .select-button a:hover{
    color: #242933;
    
}

.chat {
    background-color: #242933;
    width: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    max-height: max-content;
    width: auto;
}

.topic-description{
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    max-height: max-content;
    width: auto;
}
