*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(219, 222, 224); /* light grey */
    padding-left: 10px;
    padding-right: 10px;

}

nav{
    text-align: center;
    padding-top: 10px;
    background-color: #B2C9D9;
    height: 35px;
}

nav a{
    padding: 35px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover{
    color: #E58C70;
}

.current:hover{
	color: #7DA3C5;
}

.logo-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20vw;
    width: auto;
}

.current {
    padding-top: 10px;
    height: 20px;
    background-color: rgb(219, 222, 224); /* light grey */
    color: #E58C70;
}

.topics-title, .projects-title {
    padding-left: 40px;
}

.topics-title1, .projects-title1 {
    padding-left: 40px;
    padding-top: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.grid-container-topics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.grid-container-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: left;
    height: 100px;
}

.topics{
    height: 125px;
}

.projects {
    height: 160px;
}

.A, .B {
    height: 120px;
}


.continue-button, .select-button {
    text-align: right;
    background-color: #E58C70;
    position: relative;
    top: 111px;
    height: 35px;
    padding-top: 10px;
    padding-right: 10px;
    width: auto;
}

.select-button {
    top: 76px;
}

.level {
    position: relative;
    bottom: 18px;
    float: left;
    padding-left: 10px;
    text-decoration: none;
    color: #242933;
    font-size: 18px;
}

.continue-button a, .select-button a{
    text-decoration: none;
    color: #242933;
}

.continue-button a:hover, .select-button a:hover{
    color: rgb(255, 255, 255);
}